/* ===================전체 레이아웃========================= */
#books-layout {
    display: flex;
    height: 100%;
    max-height: 80%;
    border: 1px solid #ccc;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-top: none;
    }
    
    #books-main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
}

#books-side {
    display: flex;
    width: 15%;
    overflow-y: scroll;
}

#books-contents {
    width: 100%;
    flex-grow: 1;
    background-color: #d2f5e3;
}

#books-header {
    width: 100%;
}

/* ===================side 연도별 리스트========================= */

.timeline_nav {
    display: flex;
    z-index: 99;
    top: 0;
    justify-content: center;
    /* transition: top .3s ease-out; */

}

#timeline-list {
    list-style: none;
    list-style-position: inside;
    margin: 15px 0;
    padding: 0;

}

li {
    margin: 15px 0;
    /* padding-left: 0; */
    list-style-type: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    cursor: pointer;
    /* transition: all .3s ease-out; */
    text-align: center;
}

li:active {
    font-weight: bold;
    color: #f94125;
    border-bottom: 1px dotted transparent;
    transform: scale(1.2);
}

li:hover {
    color: red
}



/* ===================헤더========================= */
.books-search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

}

.books-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20vw;
    height: 10%;
    border-radius: 30px;
    min-width: 205px;
    min-height: 35px;
    background-color: white;
    border-style: inset;
    margin-bottom: 5px;
}


.books-search-text {
    flex-grow: 1;
    text-align: center;
}

.books-search-button {
    width: 50px;
    height: 20px;
    flex-shrink: 0;
    text-align: center;
}
/* ===================도서 목록========================= */
/* 테이블 스타일 */
#books-contents {
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 2px solid #ddd;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #62bfb1;
    font-weight: bold;
}

/* 테이블 반응형 스타일 */
@media screen and (max-width: 680px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 6px;
    }

    #books-side {
        display: none;
    }
}