/* base.css */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  #head-of-head {
    display: block;
    width: 100%;
  }

  header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(0, 133, 126);
    padding-right: 20px;
    border-radius: 0 0 10px 10px;
  }

                .login-menu {
    font-size: 2vw;
  }

  nav {
    display: flex;
    flex-grow: 1;
  }

  #logo {
    display: flex;
    width: 500px;
    height: 100px;
    min-width: 200px;
    min-height: 100px;
    justify-content: center;
  }

  .logo-image {
    width: 100%;
    height: 100%;
  }

  /* 크기가 줄었을 때 보여짐 */
  .menu-icon {
    display: none;
  }

  .main-menus {
    display: flex;
    width: 100%;
    /* 텍스트 가운데 배치 */
    justify-content: center;
    align-items: center;
    /*TODO: 글자안넘게하는 속성*/
    overflow: hidden;
  }

  .menu-button {
    /* TODO: 메뉴버튼 꾸미기 */
  }

  .menu1 {
    height: 100%;
    text-align: center;
    font-size: 2vw;
  }

  .menu2 {
    height: 100%;
    font-size: 2vw;
  }

  .menu3 {
    height: 100%;
    font-size: 2vw;
  }

  .menu4 {
    height: 100%;
    font-size: 2vw;
  }

  @media (max-width: 825px) {
    header {
      display: none;
    }

    nav {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    #logo {
      display: flex;
      width: 100%;
      height: 100px;
    }

    .menu-icon {
      display: flex;
      width: 30px;
      height: 30px;
    }

    .main-menus {
      display: none;
    }
  }

/* 글꼴 */
@font-face {
  font-family: 'Hana-light';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Hana-medium';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Hana-bold';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.ttf') format("truetype");
  font-display: swap;
}