body {
    background-color: red;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #A5D6A7; */
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

#head-of-head {
    display: block;
    width: 100%;
    /* border: 3px solid brown; */
}

header {
    display: flex;
    justify-content: flex-end;
    /* border: 3px solid pink; */
}

.login-menu {
    /* border: 3px solid red; */
    font-family: 'NanumSquare', sans-serif;
    
}

nav {
    display: flex;
    border: 3px solid green;
    flex-grow: 1;
}

#logo {
    display: flex;
    width: 500px; 
    height: 100px;
    min-width: 200px;
    min-height: 100px;
    /* border: 3px solid blue; */
    justify-content: center;
}

.main-menus {
    display: flex;
    width: 100%;
    /* 텍스트 가운데 배치 */
    justify-content: center;
    align-items: center;
    /*TODO: 글자안넘게하는 속성*/
    overflow: hidden;
}

.menu1 {
    /* min-width: 25%; */
    height: 100%;
    /* background-color: aliceblue; */
    text-align: center;
    font-family: 'NanumSquare', sans-serif;
    font-size: x-large;
}

.menu2 {
    /* min-width: 25%; */
    height: 100%;
    font-family: 'NanumSquare', sans-serif;
    font-size: x-large;
    /* background-color: firebrick; */
}

.menu3 {
    /* min-width: 25%; */
    height: 100%;
    font-family: 'NanumSquare', sans-serif;
    font-size: x-large;
    /* background-color: darkblue; */
}

.menu4 {
    /* min-width: 25%; */
    height: 100%;
    font-family: 'NanumSquare', sans-serif;
    font-size: x-large;
    /* background-color: azure; */
}

@media (max-width: 825px) {
    #logo {
        /* border: 3px solid blue; */
        justify-content: center;
        font-size: x-large;
    }
}

footer {
    background-color: grey;
    min-height: 100px;
}

/* #container {
    display: grid;
    grid-template-rows: 1fr auto 0.5fr;
    box-sizing: border-box;
    height: 100vh;
  }

  #gnb-nav {
    display: grid;
    background-color: #e7e6e6;
  } */

/* #gnb-nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    list-style: none;
    font-size: x-large;
  } 
  #gnb-nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  #gnb-nav > ul > li {
    font-weight: 700;
  } */